@import '/src/Styles/Variables.scss';

.minicarduser-block {
	display: flex;
	margin-bottom: 10px;

	&-image {
		max-width: 640px;
		margin-right: 7px;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 1.2;
	}
	&-text {
		margin-left: 10px;
		text-align: left;
		font-family: 'Oswald', sans-serif;
		&-adjust {
			text-transform: uppercase;
			font-size: 1.2rem;
			line-height: 1.5rem;
			font-weight: 500;
			color: black;
			&-color2 {
				color: white;
			}
		}
	}
	&-desc {
		margin-top: 5px;
		color: #666;
		text-transform: capitalize;

		&-author {
		}
	}
}

.minicarduser-block-desc-author::after {
	content: '';
	display: inline-block;
	width: 2px;
	height: 14px;
	background-color: #666;
	margin: 0 10px;
}

.minicarduser-image {
	border-radius: 3px;
	width: 250px;
	height: 200px;
	object-fit: cover;
}

.test {
	color: white;
}
