@import '/src/Styles/Variables.scss';
.single {
	&-wrapper {
		background: black;
	}
	&-header {
		color: #45b8ac;
		font-weight: 700;
		font-size: 3rem;
		text-transform: uppercase;
		text-align: center;
		padding: 20px 20px;
		font-family: $f-5;
		// margin: 0 20px;
		& mark {
			background: transparent;
			color: white;
		}
	}
	&-block {
		flex-wrap: wrap;
		display: flex;
		justify-content: space-between;
		padding: 20px 0px;
	}
	&-top100 {
		&-header {
			color: #45b8ac;
			font-weight: 700;
			font-size: 3rem;
			text-transform: uppercase;
			text-align: center;
			padding: 20px 20px;
			font-family: $f-5;
		}
		&-button {
			&-block {
				display: flex;
				justify-content: center;
				&-adjust {
					color: #45b8ac;
					font-weight: 700;
					font-size: 1.5rem;
					text-transform: uppercase;
					text-align: center;
					padding: 20px 20px;
					font-family: $f-5;
					background: none;
					margin-bottom: 20px;
					width: 50%;
					border: 1px solid #45b8ac;
					border-radius: 5px;
					transition: all 0.2s ease-in-out;
				}
			}
		}
	}
}

.single-top100-button-block-adjust:hover {
	background-color: white;
	cursor: pointer;
}
