@import '/src/Styles/Variables.scss';
.button {
	display: inline-block;
	padding: 15px 30px;
	background-color: transparent;
	color: #fdac53;
	font-family: $f-1;
	cursor: pointer;
	border: none;
	outline: none;
	position: relative;
	font-weight: 400;

	& span {
		position: absolute;
		background-color: #fdac53;
		display: block;
		transition: all 0.25s linear;
	}
	:nth-child(1) {
		top: 0;
		left: 0;
		width: 0;
		height: 2px;
	}
	:nth-child(2) {
		top: 0;
		right: 0;
		width: 2px;
		height: 0;
		transition-delay: 0.25s;
	}
	:nth-child(3) {
		bottom: 0;
		right: 0;
		width: 0;
		height: 2px;
		transition-delay: 0.5s;
	}
	:nth-child(4) {
		bottom: 0;
		left: 0;
		width: 2px;
		height: 0;
		transition-delay: 0.75s;
	}
}

.button:hover span:nth-child(odd) {
	width: 100%;
}
.button:hover span:nth-child(even) {
	height: 100%;
}

.button::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 0;
	background-color: #363945;
	transition: width 0.25s linear;
	z-index: -1;
}
.button:hover::before {
	width: 100%;
}
