@import '/src/Styles/Variables.scss';

.largecard {
	&-box {
		padding: 20px;
		background-color: black;
	}
	&-container {
		display: grid;
		grid-template-columns: 543px auto;
		&-main {
		}
		&-secondary {
			padding-left: 12px;
		}
	}
}
