@import '/src/Styles/Variables.scss';

.modaluserchangepassword {
	&-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// opacity: 1;
		backdrop-filter: grayscale(1);
		overflow-y: auto;
		box-sizing: border-box;
		z-index: 2000;
		background-color: hsla(0, 0%, 94.9%, 0.9);
		transition: opacity 0.2s linear;
	}
	&-block {
		width: 850px;
		left: 350px;
		transition: transform 0.3s cubic-bezier(0.13, 1.07, 0.5, 1.01),
			visibility 0s, -webkit-transform 0.3s cubic-bezier(0.13, 1.07, 0.5, 1.01);
		height: auto;
		padding: 25px;
		background: #fff;
		border-radius: 12px;
		margin: 76px 0 30px;
		position: absolute;
		top: 40px;
		border: 1px solid var(--background-highlight-color);
		transform: translateZ(1000);
		visibility: visible;
		z-index: 2000;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}
	&-content {
		position: relative;
		height: 100%;
	}
	&-profilesetting {
		position: relative;
		&-manage {
			display: flex;
			justify-content: flex-end;
		}
		&-form {
			&-block {
				overflow: hidden;
				&-content {
					font-family: $f-5;
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					&-displayname {
						width: 100%;
						margin-bottom: 15px;
					}
					&-infor {
						width: 48%;
						margin-bottom: 15px;
					}
					&-bio {
						& p {
							margin-bottom: 10px;
						}
					}
				}

				&-button {
					display: flex;
					justify-content: center;
					opacity: 1;
					background-color: white;
					color: white;
					border-color: rgba(0, 0, 0, 0.1);
					background-clip: padding-box;
					transition: background-color 0.2s ease-in-out,
						border-color 0.2s ease-in-out;
					outline: 0;
					opacity: 0.75;
					// display: inline-block;
					position: absolute;
					height: 26px;
					padding: 2px 11px 2px 10px;
					border: 1px solid #e5e5e5;
					border-radius: 3px;
					cursor: pointer;
					color: #333;
					font-size: 14px;
					line-height: 20px;
					white-space: nowrap;
					font-family: $f-5;
					font-weight: 100;
					text-align: center;
					vertical-align: baseline;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					box-sizing: border-box;
					top: 200px;
					left: 50%;
					transform: translateX(-50%);
					& div {
						margin-top: 2px;
						margin-right: 2px;
					}
				}
				&-avatar {
					position: relative;
					float: left;
					margin-right: 18px;
				}
				&-image {
					position: relative;
					width: 260px;
					&-adjust {
						background: none;
						border-radius: 50%;
						text-align: center;
						position: relative;
						object-fit: cover;
						display: block;
					}
				}
			}
		}
	}
	&-title {
		font-size: 22px;
		line-height: 1;
		padding-bottom: 9px;
		border-bottom: 1px solid #f2f2f2;
		margin-bottom: 24px;
		-webkit-font-smoothing: antialiased;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		word-break: normal;
		font-family: $f-5;
	}
}

.input1 {
	opacity: 0;
	position: absolute;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 30px;
	padding-bottom: 67px;
	width: 85%;
	z-index: 99;
	margin-top: 10px;
	cursor: pointer;
	bottom: -70px;
	left: -10px;
}
