@import '/src/Styles/Variables.scss';
.navigation {
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: $pm-40;
}
.logo-block {
}
.logo {
	width: 5rem;
	height: auto;
	border: none;

	display: block;
}
.hamburger-block {
	margin-right: auto;
}
.authentication-block {
	margin-left: auto;
	z-index: 1;
}

.navigationbar {
	// &-block {
	// 	position: fixed;
	// 	width: 1002px;
	// 	top: 0;
	// }
	&-container {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: $f-1;
	}
	&-button {
		margin: 0 10px;
		z-index: 1;
	}
}
