@import '/src/Styles/Variables.scss';
.navigation {
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: $pm-40;
}
.logo-block {
}
.logo {
	width: 5rem;
	height: auto;
	border: none;

	display: block;
}
.hamburger-block {
	margin-right: auto;
}
.authentication-block {
	margin-left: auto;
	z-index: 1;
}
