// .kzCardMediaStyle1{
//     position: 'relative';
//     padding-top: 'calc(100% * 3 / 4)'
// }
// .kzTitleStyle1{
//     height: 44;
//     overflow: 'hidden';
//     WebkitLineClamp: 2;
//     display: '-webkit-box';
//     WebkitBoxOrient: 'vertical';
// }
// .kzCoverImgStyle1{
//     top: 0;
//     width: '100%';
//     height: '100%';
//     objectFit: 'cover',;
//     position: 'absolute';
// }
.kzStatusBox{
    display:flex;
    justify-content: flex-end;
}

.kzScrollStyle::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f9f9f9;
}

.kzScrollStyle::-webkit-scrollbar {
    width: 12px;
    background-color: #f9f9f9;
  }
  
.kzScrollStyle::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   background-color: #555;
}