@import '/src/Styles/Variables.scss';
.newspaper {
	&-articles {
		line-height: 20px;
		margin: 0;
		padding: 0;
		font-size: 14px;
		list-style: none;
		&-block {
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 5px;
		}
	}
	&-large {
		background-color: white;

		border-bottom: none;
	}
	&-block {
		width: 600px;
		object-fit: cover;
		height: 400px;
		border-radius: 3px;
	}
	&-heading {
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 0;
		margin: 20px 0px;
		&-adjust {
			font-family: Oswald, Arial, Helvetica, sans-serif;
			line-height: 31px;
			margin-top: 0;
			margin-bottom: 10 px;
			font-size: 24px;
			text-transform: uppercase;
		}
	}
	&-body {
		padding-bottom: 20px;
		padding: 0 20px;
		letter-spacing: 0.26px;
		line-height: 26px;
		& p {
			-webkit-font-smoothing: antialiased;
			color: #000;
			font-family: $f-4;
		}
	}
	&-infor {
		padding: 10px 20px;
		&-image {
			object-fit: cover;
			width: 28px;
			height: 28px;
			border-radius: 100%;
			vertical-align: top;
		}
		&-text {
			display: inline-block;
			padding: 0 5px;
			&-date {
				font-family: $f-4;
				font-size: 14px;
				padding: 0 20px;
				font-weight: 700;
				letter-spacing: 0.25px;
				line-height: 14px;
				color: #9a9a9a;
			}
			&-link {
				font-family: $f-4;
				font-size: 14px;
				padding: 0 20px;
				font-weight: 700;
				letter-spacing: 0.25px;
				line-height: 14px;
				color: #9a9a9a;
				text-transform: capitalize;
				& a {
					color: red;
					font-size: 14px;

					font-weight: 700;
					letter-spacing: 0.25px;
					line-height: 14px;
				}
			}
		}
	}
}

.newspaper-articles-block:hover {
	// transition: ease 0.25s;
	transform: translateY(-2px);
}
