.kzUsermanagerWarpper{
    margin-top: -155px;
    // margin-bottom: 10px;
    border: 1px solid #9B2335;
    box-shadow: 0 0 10px 5px #9B2334;
    background-color: #fff;
    border-radius: 5px;
    padding: 16px 0px

}