.navigationadmin{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.kz-background{
    background: #fff;
    margin: 0 ;
    padding: 0;
}
body{
    padding: 0 !important;
}