@import '/src/Styles/Variables.scss';

.album {
	&-block {
		padding: 0px 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&-image {
		width: 200px;
	}
	&-header {
		font-family: $f-1;
		text-transform: capitalize;
		font-weight: bold;
	}
}
